<form style="margin: 60px">
  <section class="form-block">
    <label>Inserir Ativo</label>

    <div class="form-group row">
      <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
        <label for="gForm_1">Tombamento:</label>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <input class="form-control" type="text" id="gForm_1" placeholder="Enter value here" size="45">
      </div>
    </div>

    <div class="form-group row">
      <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
        <label for="gForm_1">Nome:</label>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <input class="form-control" type="text" id="gForm_1" placeholder="Enter value here" size="45">
      </div>
    </div>

    <div class="form-group row">
      <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
        <label for="gForm_3">Fabricante:</label>
      </div>
      <div class="col-lg-4 col-md-8 col-sm-12 col-xs-12">
        <div class="select form-control">
          <select id="gForm_3">
                        <option>Agilent</option>
                        <option>Minipa</option>
                        <option>Tektronix</option>                        
                    </select>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
        <label for="gForm_3">Estado:</label>
      </div>
      <div class="col-lg-4 col-md-8 col-sm-12 col-xs-12">
        <div class="select form-control">
          <select id="gForm_3">
                        <option>Defeito</option>
                        <option>Velho</option>
                        <option>Excelente</option>
                        <option>Novo</option>
                    </select>
        </div>
      </div>
    </div>
    
    <div class="form-group row">
      <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
        <label for="gForm_4">Descrição:</label>
      </div>
      <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
        <textarea id="gForm_4" rows="5" class="form-control"></textarea>
      </div>
    </div>

    <!-- <div class="form-group row">
      <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
        <label for="gForm_3">Unidade de Origem:</label>
      </div>
      <div class="col-lg-4 col-md-8 col-sm-12 col-xs-12">
        <div class="select form-control">
          <select id="gForm_3">
                        <option>LESC</option>
                        <option>GTEL</option>
                        <option>Laboratório 01</option>                        
                    </select>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
        <label for="gForm_3">Unidade de Destino:</label>
      </div>
      <div class="col-lg-4 col-md-8 col-sm-12 col-xs-12">
        <div class="select form-control">
          <select id="gForm_3">
                        <option>LESC</option>
                        <option>GTEL</option>
                        <option>Laboratório 01</option>                      
                    </select>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
        <label for="gForm_3">Itens Movimentados:</label>
      </div>
      <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
        <table class="table">
          <thead>
            <tr>
              <th>Código</th>
              <th>Tombamento</th>
              <th>Nome</th>
              <th>Quantidade</th>
              <th>Ações</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>303275</td>
              <td>Roteador Wi-Fi D-Link FIR-2451</td>
              <td>1</td>
              <td><a>Excluir</a> <a>Editar</a></td>
            </tr>
            <tr>
              <td>5</td>
              <td>303272</td>
              <td>Cadeira azul para escritório</td>
              <td>101</td>
              <td><a>Excluir</a> <a>Editar</a></td>
            </tr>            
          </tbody>
        </table>
        <button>Inserir Ativo</button>
      </div>

    </div>
    
    <div class="form-group row">
      <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
        <label for="gForm_4">Observações:</label>
      </div>
      <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
        <textarea id="gForm_4" rows="5" class="form-control"></textarea>
      </div>
    </div> -->
    
    <!-- <div class="form-group row">
      <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
        <label for="gForm_3">Other form fields</label>
      </div>
      <div class="col-lg-2 col-md-3 col-sm-12 col-xs-12">
        <div class="toggle-switch">
          <input type="checkbox" id="othertoggle">
          <label for="othertoggle">Toggle</label>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <div class="checkbox-inline">
          <input type="checkbox" id="othercheckbox" checked>
          <label for="othercheckbox">Inline Checkbox</label>
        </div>
      </div>
    </div> -->
    <button type="submit" class="btn btn-outline">Inserir</button>
    <button type="submit" class="btn btn-primary">Cancelar</button>
  </section>
</form>