<app-navigator></app-navigator>
<hr/>
<!-- <app-insert-user></app-insert-user>  
<hr/>
<app-login></app-login>  
<hr/>
<app-send-message></app-send-message>  
<hr/>
<app-insert-class-session></app-insert-class-session>  
<hr/>
<app-insert-class></app-insert-class>  
<hr/>
<app-insert-organizational-unit-reservation></app-insert-organizational-unit-reservation>  
<hr/>
<app-insert-lab-workstation-reservation></app-insert-lab-workstation-reservation>  
<hr/>
<app-insert-lab-event></app-insert-lab-event>
<hr/>
<app-insert-lab-workstation></app-insert-lab-workstation>
<hr/>
<app-insert-organizational-unit></app-insert-organizational-unit>
<hr/> -->
<!-- <app-insert-asset></app-insert-asset> -->
<!-- <hr/>
<app-request-asset-moving></app-request-asset-moving>
<hr/> -->

<app-insert-vendors></app-insert-vendors>
<app-list-vendors></app-list-vendors>