<form style="margin: 60px">
  <section class="form-block">
    <label>Inserir Disciplina</label>

    <div class="form-group row">
      <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
        <label for="gForm_3">Código:</label>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <input class="form-control" type="text" id="gForm_1" placeholder="Enter value here" size="45">
      </div>
    </div>

    <div class="form-group row">
      <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
        <label for="gForm_3">Título:</label>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <input class="form-control" type="text" id="gForm_1" placeholder="Enter value here" size="45">
      </div>
    </div>

    <div class="form-group row">
      <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
        <label for="gForm_3">Quantidade de Créditos:</label>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <input class="form-control" type="text" id="gForm_1" placeholder="Enter value here" size="45">
      </div>
    </div>

    <div class="form-group row">
      <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
        <label for="gForm_3">Status:</label>
      </div>
      <div class="col-lg-4 col-md-8 col-sm-12 col-xs-12">
        <div class="select form-control">
          <select id="gForm_3">
                        <option>Ativa</option>
                        <option>Suspensa</option>
                        <option>Cancelada</option>
                    </select>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
        <label for="gForm_3">Requer Laboratório?:</label>
      </div>
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="checkbox-inline">
                    <input type="checkbox" id="othercheckbox" checked>
                    <label for="othercheckbox"></label>
                </div>
            </div>

    </div>

    <div class="form-group row">
      <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
        <label for="gForm_4">Descrição:</label>
      </div>
      <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
        <textarea id="gForm_4" rows="5" class="form-control"></textarea>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
        <label for="gForm_4">Ementa:</label>
      </div>
      <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
        <textarea id="gForm_4" rows="5" class="form-control"></textarea>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
        <label for="gForm_4">Bibliografia:</label>
      </div>
      <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
        <textarea id="gForm_4" rows="5" class="form-control"></textarea>
      </div>
    </div>      
    
    <button type="submit" class="btn btn-outline">Inserir</button>
    <button type="submit" class="btn btn-primary">Cancelar</button>
  </section>
</form>