<div style="height:1000px;width:1200px;">

  <div class="icon-bar" style="height:1000px">
    <a href="#"><i class="fa fa-home"></i></a>
    <a class="active" href="#"><i class="fa fa-area-chart"></i></a>
    <a href="#"><i class="fa fa-ticket"></i></a>
    <a href="#"><i class="fa fa-envelope"></i></a>
    <a href="#"><i class="fa fa-users"></i></a>
    <a routerLink="/vendor"><i class="fa fa-book"></i></a>
    <a href="#"><i class="fa fa-cogs"></i></a>
    <a href="#"><i class="fa fa-question"></i></a>
  </div>  

  <div style="height:1000px;width:1200px;">
    <router-outlet></router-outlet>
      

  </div>

</div>  